<%= form_with(model: training, local: true) do |form| %>
  
  <%= errors_for(@training) %>
  <%= image_tag(@training.cover.url, size: "200", alt: 'Cover', class: "img-fluid rounded mb-3 mb-md-0") if @training.cover? %>
  <div class="form-group">
    <%= form.label :cover %>
    <%= form.file_field :cover, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"  %>
  </div>

  <%= form.fields_for :excercises do |excercise| %>
      <%= render 'excercise_fields', f: excercise %>
  <% end %>

  <div class="form-group">
    <%= link_to_add_association 'add excercise', form, :excercises, class: "btn btn-primary" %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-success' %>
  </div>
<% end %>
