<p id="notice"><%= notice %></p>

<!-- Page Heading -->
      <h1 class="my-4">Trainings
        <small>Make it work!</small>
      </h1>
      
      <% @trainings.each do |training| %>

        <div class="row">
          <div class="col-md-7">
            <%= image_tag(training.cover.url, alt: 'Cover', class: "img-fluid rounded mb-3 mb-md-0") if training.cover? %>
          </div>
          <div class="col-md-5">
            <h3><%= training.name %></h3>
            <p><%= training.description %></p>
            <%= link_to 'Show', training, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_training_path(training), class: "btn btn-success" %>
            <%= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </div>

        <hr>
      <% end %>

<%= link_to 'New Training', new_training_path %>
